################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Snake_GrafMohov/.vs/Snake_GrafMohov/FileContentIndex/351b2afa-e1a5-41b7-acc6-58dbf236a98c.vsidx
/Snake_GrafMohov/.vs/Snake_GrafMohov/FileContentIndex/4ef6e4e2-9df5-4439-9570-691232db58f3.vsidx
/Snake_GrafMohov/.vs/Snake_GrafMohov/FileContentIndex/4d209607-2872-4da7-add4-39a67eec603c.vsidx
